@import '../assets/variables.scss';

.header {
    position: fixed;
    height: $header-height;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 20px -2px #ccc;
    overflow: hidden;
    top: 0;
    z-index: 1;

    .header-left {
        display: inline-flex;
        height: $header-height;
        color: $primary-color;

        .venom-logo {
            height: 100%;
        }

        .venom {
            position: relative;
            height: 100%;
            line-height: $header-height;
            left: -$header-height / 3;
            font-size: $header-height * 5 / 12;
        }
    }

    .counter {
        float: right;
        position: relative;
        right: -$header-height / 2;
        height: $header-height;
        background-color: $primary-color;
        width: 200px;
        transform: skewX(-40deg);
        padding: $header-height / 5;
        box-sizing: border-box;
        color: $white-color;
        text-align: right;
        padding-right: $header-height * 7 / 6;
        font-size: $header-height / 2;

        * {
            transform: skewX(40deg);
        }
    }
}