@import "./assets/variables.scss";

body, html, .my-app {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.venom-logo {
    filter: invert(59%) sepia(67%) saturate(2750%) hue-rotate(159deg) brightness(101%) contrast(104%);
}